@model IEnumerable<LikeIt.Web.ViewModels.Tag.TagViewModel>

<div class="row pull-left">
    <div class="col-md-12 ">
        @foreach (var tag in Model)
        {
            @Html.DisplayFor(t => tag.Name, "TagName")
        }
    </div>
</div>
