@model LikeIt.Web.ViewModels.VotesViewModel
<div class="page-vote">
    @if (Request.IsAuthenticated)
    {
        <div class="row">
            <div class="col-md-12 text-center">
                @Html.DisplayFor(b => b, "LikePageButton")
                @Html.DisplayFor(b => b, "DislikePageButton")
            </div>
        </div>
    }
    else
    {
        <div><span>@Html.ActionLink("Log in to vote!", "Login", "Account", null, null)</span></div>
    }
</div>
