@using LikeIt.Web.Infrastructure.HtmlHelpers﻿
@using LikeIt.Web.Areas.Administration.ViewModels.Users;
@{
    const string ControllerName = "Users";
    ViewBag.Title = ControllerName;
}

<h2>@ViewBag.Title</h2>
@(Html.FullFeaturedGrid<UsersViewModel>(ControllerName, m => m.Id))

