@model LikeIt.Web.Areas.Private.ViewModels.Comments.CommentViewModel

        <div class="panel panel-default ">
            <div class="panel-body">
                <p><strong>@Model.AuthorName</strong></p>
                <p>@Model.Content</p>
                <span class="pull-right">@Model.CreatedOn</span>
            </div>
        </div>
