@model LikeIt.Web.Areas.Private.ViewModels.Comments.CommentViewModel

<div class="panel panel-default ">
    <div class="panel-body">
        @Html.DisplayFor(m => m.AuthorName, "CommentAuthor")
        @Html.DisplayFor(m => m.Content, "CommentContent")
        @Html.DisplayFor(m => m.CreatedOn, "CommentDateCreated")
    </div>
</div>
