@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li>@Html.ActionLink("Add New Like", "Create", "Page", new { area = "" }, new { })</li>
    <li>@Html.ActionLink("My Likes", "Index", "MyLikes", new { area = "Private" }, new { })</li>
    <li>@Html.ActionLink("My Comments", "MyComments", "Comment", new { area = "Private" }, new { })</li>
}