<div class="form-group">
    <label class="control-label col-md-1" for="UploadedImage">Image</label>
    @*@Html.LabelFor(model => model.UploadedImage, "Image", htmlAttributes: new { @class = "control-label col-md-2" })*@
    <div class="col-md-6">
        <input type="file" name="UploadedImage" />
    </div>
</div>
