@using LikeIt.Web.Infrastructure.HtmlHelpers﻿
@using LikeIt.Web.Areas.Administration.ViewModels.Tags;
@{
    const string ControllerName = "Tags";
    ViewBag.Title = ControllerName;
}

<h2>@ViewBag.Title</h2>
@(Html.FullFeaturedGrid<TagsViewModel>(ControllerName, m => m.Id))
