@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "InternalServerError";
}

@*<h1 class="text-danger">500</h1>
<h2>Uh oh! This is bad!</h2>
<h2>Internal Server Error</h2>*@

<div class="text-center">
    <img src="~/Images/500.jpg" />
</div>