@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@*<h1 class="text-danger">404</h1>
<h2 class="text-danger">Page not found!</h2>*@
<div class="text-center">

    <img src="~/Images/404.jpg" />
</div>

