@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/aeCNC0DvtZo" frameborder="0" allowfullscreen></iframe>
    <img width="560" height="315" src="" alt="" onerror="this.onerror = null; this.src = '../../Images/404.jpg';" />
</div>
