﻿@model IEnumerable<LikeIt.Web.ViewModels.Home.IndexPagesViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Like It!</h1>
    <p class="lead">Add your likes and see what's trending now!</p>
    @Html.ActionLink("Add New Like", "Create", "Page", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
</div>
<div class="row">
    <div class="col-md-6">
        @Html.Action("GetTrendingLikes", "Home", routeValues: new { area = "", count = Model })
    </div>
    <div class="col-md-6">
        @Html.Action("GetTrendingDislikes", "Home", routeValues: new { area = "", count = Model })
    </div>
</div>

