@model IEnumerable<LikeIt.Web.Areas.Private.ViewModels.Comments.CommentViewModel>

@foreach (var comment in Model)
{
    <div class="row">
        <div class="col-md-12">
            <h2><a href="~/Page/Details/@comment.PageId" title="@comment.PageTitle">@comment.PageTitle</a></h2>
            @Html.Partial("_CommentsPartial", comment)
        </div>
    </div>

}

