@using LikeIt.Web.Infrastructure.HtmlHelpers﻿
@using LikeIt.Web.Areas.Administration.ViewModels.Likes;
@{
    const string ControllerName = "Likes";
    ViewBag.Title = ControllerName;
}

<h2>@ViewBag.Title</h2>
@(Html.FullFeaturedGrid<LikesViewModel>(ControllerName, m => m.Id))
