body {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: rgba(219,233,247, 0.3);
    /*background-color:#4E5D6C;*/
    position: relative;
    font-size: 16px;
    color: #4E5D6C;
}

label {
    color: #F3F7FB;
    font-size: 1em;
}

.panel {
    color: #F3F7FB;
}

.form-horizontal {
    color: #F3F7FB;
    background-color: #4E5D6C;
    padding: 10px;
}

    .form-horizontal input[type=file] {
        font-size: 1em;
        background-color: #4E5D6C;
        padding: 5px 0;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

/*Edit Page*/
.edit-panel-title {
    background-color: rgba(78,93,108, 0.7);
    /*margin-top:100px;*/
    bottom: 0;
    min-width: 200px;
}

    .edit-panel-title input[type=file] {
        background-color: transparent;
        color: #F3F7FB;
    }

/*Details Page*/
.details:hover .details-panel-title {
    background-color: rgba(255,255,255, 0.9);
}

.details-panel-img {
    height: 300px;
    overflow: hidden;
    position: relative;
    padding: 10px;
}

/*img.like-details {
    max-width: 100%;
}*/

.details-panel-title {
    background-color: rgba(255,255,255, 0.7);
    margin-top: 150px;
    bottom: 0;
    min-width: 200px;
}

    .details-panel-title h1,
    .details-panel-title h4 {
        color: #df691a;
        font-weight: 400;
    }

.tab-pane {
    padding: 10px;
}

.page-creator-info {
    padding: 10px;
    border-left: 1px solid #ddd;
}

    .page-creator-info .btn {
        padding: 3px 20px;
    }

#about p {
    word-wrap: break-word;
    max-width: 99%;
}

/*Comments*/
#comments .panel {
    border: 1px solid white;
    font-size: 0.9em;
    color: #F3F7FB;
}

.comment-info {
    /*font-size: 0.8em;
    border-right: 1px solid #ddd;*/
}

.comment-content {
}

.transparent-background {
    background-color: rgba(255,255,255, 0.7);
    padding: 10px;
}

/*Votes*/
.votes-container {
    padding: 0;
    color: #F3F7FB;
    /*height: 170px;   
    background-color: rgba(255,255,255, 0.7);
    border: 1px solid #ddd;*/
}

.likes-count {
    font-size: 4em;
    color: #df691a;
    font-weight: 400;
    border: 1px solid #df691a;
    border-radius: 50%;
    padding: 10px 50px;
    /*width: 160px;*/
    margin-right: 10px;
    background-color: rgba(255,255,255, 0.7);
}

.votes-container .glyphicon-thumbs-up,
.votes-container .glyphicon-thumbs-down {
    font-size: 2em;
    text-decoration: none;
    padding: 5px 25px;
}

.glyphicon-thumbs-up:hover {
    color: yellowgreen;
}

.glyphicon-thumbs-down:hover {
    color: red;
}

.page-vote {
    display: inline-block;
}

    .page-vote .btn {
        margin: 0 1px;
    }

.like,
.dislike {
    margin-top: -65px;
    color: #df691a;
}

.like {
    padding-left: 10px;
}

.dislike {
    padding-right: 20px;
}

/*Single page*/
#all-pages {
    position: relative;
    margin-top: 30px;
}

.single-page {
    display: inline-block;
    position: relative;
    margin: 10px 10px;
    margin-bottom: 70px;
    min-width: 345px;
}

.circle .rating-count {
    font-size: 4em;
    padding: 3px 0;
    background-color: rgba(255,255,255, 0.5);
    font-weight: 400;
}

.circle {
}

.single-page .page-heading {
    padding-top: 120px;
}

.page-heading h1,
.page-heading h4 {
    word-wrap: break-word;
    background-color: rgba(255,255,255, 0.8);
    padding: 3px 0;
    font-weight: 400;
}

.single-page .page-main-content {
    min-height: 350px;
    max-width: 350px;
    border: 1px solid #ddd;
    opacity: 0.8;
    /*border-radius: 20px;*/
    box-shadow: 10px 10px 5px #888888;
}

.page-main-content:hover {
    opacity: 1;
}

    .page-main-content:hover .page-heading h1,
    .page-main-content:hover .page-heading h4 .page-main-content:hover .circle .rating-count {
        background-color: rgba(255,255,255, 0.9);
    }

/*Home Page*/
body {
    background-image: url('/Images/like-hashtag.jpg');
    background-repeat: no-repeat;
    background-size: 90%;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#main-slide {
    /*background-image: url('/Images/like-hashtag.jpg');*/
    /*background-repeat:no-repeat;*/
    background-color: transparent;
}

.text-shadow {
    text-shadow: 5px 5px 5px #888888;
}

.details-panel-img,
.page-main-content {
    background-size: 100%;
    background-size: cover;
    background-position: center center;
    vertical-align: top;
}

/*Navbar*/
.navbar-nav a {
    font-size: 1.3em;
}

/*Pagination*/
.pagination-container {
}

    .pagination-container .pagination li.active a {
        background-color: #4E5D6C;
        color: #F3F7FB;
    }

    .pagination-container .pagination li a {
        color: #df691a;
    }

/*Search*/
div#ajax-search-results {
    display: none;
    text-align: center;
    padding: 10px;
    /*position:absolute;
    z-index:2;
    background-color:#F3F7FB;
    border: 3px solid #df691a;
    margin-top: 50px;
    margin-left: 5px;
    box-shadow: 10px 10px 5px #888888;*/
}

/*Tags*/
#all-tags {
    padding: 10px;
    padding-bottom: 20px;
    margin-left: 0;
    border-bottom: 1px solid #4E5D6C;
}

.all-tags a {
    color: #F3F7FB;
}

    .all-tags a:hover {
        text-decoration: none;
    }

.single-tag {
    margin: 3px;
    display: inline-block;
}
